<% if current_user.id == @event.user_id %>
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Title:</strong>
	  <%= @event.title %>
	</p>

	<p>
	  <strong>Start time:</strong>
	  <%= @event.start_time %>
	</p>

	<p>
	  <strong>End time:</strong>
	  <%= @event.end_time %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @event.description %>
	</p>

	<% @event.pictures.each do |p| %>
		<%= image_tag  p.photo.url%><br>
	<% end %>



<div class='panel' id = 'nav' >
	<ul class='list-inline'>
		<li class='buttons-align'>
			<span class = 'btn-group pull-right'>
				<button  class = 'btn btn-primary'>
					<%= link_to 'Edit', edit_event_path(@event) %>
				</button>

				<button  class = 'btn btn-primary'>
					<%= link_to 'Back', :back%>
				</button>
 
				<button class = 'btn btn-primary'> 
					<%= link_to 'Destroy', "/events/#{@event.id}/destroy", method: :delete, data: { confirm: 'Are you sure?' }%>
				</button>
			</span>
		</li>	    
	</ul>
</div>

<% else %>
	Your access to this page has been denied click <%= link_to 'here', events_path %> to be redirected.
<% end %>

